html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("/img/background.jpg") no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-color: #0b1222;
}

form, .project-summary {
  padding: 20px;
  margin-top: 60px;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}


